DEEPGRAM_API_KEY=
GOOGLE_API_KEY=
ROUTER9_API_KEY=
ROUTER9_BASE_URL=https://rqlaeq5.9router.com/v1
ROUTER9_MODEL=
ROUTER9_FALLBACK_MODEL=
THIRD_PARTY_TRANSCRIPT_URL=
THIRD_PARTY_TRANSCRIPT_API_KEY=
THIRD_PARTY_TRANSCRIPT_MODEL=
THIRD_PARTY_TRANSCRIPT_AUTH_SCHEME=bearer
THIRD_PARTY_OHM_URL=
THIRD_PARTY_OHM_API_KEY=
THIRD_PARTY_OHM_MODEL=
THIRD_PARTY_OHM_AUTH_SCHEME=bearer
THIRD_PARTY_OHM_WEBHOOK_URL=
