rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /admin_runtime_config/{docId} {
      allow read, write: if request.auth != null && request.auth.token.email == 'lucy2511kh@gmail.com';
    }

    match /game_settings/{docId} {
      allow read, write: if true;
    }

    match /rounds/{docId} {
      allow read, write: if true;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
